.bread {
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-bottom: 0px;
}


.icon {
    width: 36.5px;
    height: 43px;
    left: 51px;
    top: 18.5px
}


.name {
    width: 263px;
    height: 53px;
    left: -3px;
    font-family: inter;
    font-style: normal;
    font-weight: 700px;
    font-size: 44px;
    line-height: 53px;
    gap: 27px;
}

.laptop {
    width: 1500px;
    margin-left: 50px;
}

.content1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 27px;
}

.content2 {
    font-weight: 700;
    font-size: 44px;
}

.smart {
    width: 179px;
    height: 19px;
    color: #008CF0;
    gap: 4px;
    padding: 4px;
}

.electronic {
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 4px;
    padding: 4px;
    width: 103px;
    height: 19px;
    color: #008CF0;
    gap: 4px;
    padding: 4px;
}

.electronic:hover {
    color: #f36223;
}


.mobile {
    width: 175px;
    height: 19px;
    color: #008CF0;
    gap: 4px;
    padding: 4px;
}

.apple {
    width: 44px;
    height: 19px;
    color: #008CF0;
    gap: 4px;
    padding: 4px;
}

.separator {
    width: 11px;
    height: 19px;
    color: #008CF0;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 4px;
    padding: 4px;
}


.phone1 {
    width: 304.33px;
    height: 387px;
}

.phone2 {
    width: 192.73px;
    height: 387px;
}

.iphone3 {
    width: 199.06px;
    height: 387px;
}

.phone4 {
    width: 361.5px;
    height: 387px;
}

.iphone5 {
    width: 299.22px;
    height: 387px;
}



.product-name {
    width: 539px;
    height: 39px;
    color: black;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
}

.contayner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
    gap: 100px;
}

.redphone {
    width: 30.93px;
    height: 60px;
}

.alpphone {
    width: 44.45px;
    height: 60px
}

.pinkphone {
    width: 30.93px;
    height: 60px;
}

.bluephone {
    width: 30.93px;
    height: 60px;
}

.whitephone {
    width: 30.93px;
    height: 60px;
}

.blackphone {
    width: 30.93px;
    height: 60px;
}

.box-product-image {
    display: flex;
    flex-direction: none;
    align-items: center;
    padding: 0px;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid blue;
}

.box-image {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
    box-sizing: border-box;
    gap: 10px;
}

.redphone {
    width: 30.93px;
    height: 60px;
}

.box-image__image {
    height: 60px;
}

.box-image4 {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid red;
}

.bluephone {
    width: 30.93px;
    height: 60px;
}

.box-image1:hover {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid #888888;
    background: #f2f2f2;
}

.box-image1 {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
    box-sizing: border-box;
    gap: 10px;
    border: 1px solid;
    background: #eee;
}



.colorproduct {
    width: 530px;
    height: 114px;
    margin-bottom: 30px;
}

.color-name {
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

.colorproduct__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}

.configur {
    width: 298px;
    height: 73px;
    display: flex;
    order: 1;
    flex-grow: 0;
}



.configur-name {
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.GB__name1 {
    width: 52;
    height: 19PX;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-style: 16px;
    line-height: 19px;
    color: #000000
}

.GB__name2 {
    width: 52;
    height: 19PX;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-style: 16px;
    line-height: 19px;
    color: #000000
}

.GB__name3 {
    width: 52;
    height: 19PX;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-style: 16px;
    line-height: 19px;
    color: #000000;
    gap: 10px;
}

.GBs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.box-characteristic {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
}

.GB1 {
    width: 92px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10;
    border-radius: 4px;
    border: 2px solid #f36223
}

.GB {
    width: 94px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #888888;
    cursor: pointer;
}

.GB1:hover {
    background: #f2f2f2;
    border: 1px solid #888888;
    border-radius: 4px;
}

.characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 880px;
    height: 896px;
}

.list-element1 {
    width: 99px;
    height: 19px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-style: 16px;
    line-height: 19px;
    color: #000000;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}

.list-element2 {
    width: 216px;
    height: 19px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-style: 16px;
    line-height: 19px;
}

.list-element3 {
    width: 246px;
    height: 19px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-style: 16px;
    line-height: 19px;
}

.list-element4 {
    width: 397px;
    height: 19px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-style: 16px;
    line-height: 19px;
}

.list-element5 {
    width: 229px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-style: 16px;
    line-height: 19px;
    height: 19px;
}


.list1-text {
    width: 79px;
    height: 19px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.marker {
    width: 10px;
    height: 10px;
    background: #888888;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text1 {
    width: 382px;
    height: 95px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}



.text2 {
    width: 880px;
    height: 76px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}



.text3 {
    width: 880px;
    height: 76px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.text4 {
    width: 880px;
    height: 95px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.listproduct {
    width: 417px;
    height: 198px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.listelement {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 99px;
    height: 19px;
    flex: none;
    order: 0;
    flex-grow: 0;
}



.list-name {
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 420px;
    height: 957px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 132px;
    height: 73px;
}

.sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    gap: 15px;
    width: 420px;
    height: 275px;
    background: #ffffff;
    border: 1px solid #EEEEEE;
    box-shadow: 0px, 4px, 4px;
    rgba(0 0 0 0 1);
    border-radius: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 67px;
}

.price2 {
    width: 132px;
    height: 39px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    gap: 14px;
    margin: bottom 14px;
}

.price1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: px;
    width: 123px;
    height: 24px;
    margin-bottom: 14px;
}



.discount2 {
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    width: 31px;
    height: 16px;
    color: #ffffff;
}

.discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 47px;
    height: 24px;
    background: #f36223;
    border-radius: 500px;
}



.delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 380px;
    height: 68px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 10px;
}

.delivery1 {
    width: 380px;
    height: 19px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.delivery2 {
    width: 380px;
    height: 19px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 60px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 49px;
    gap: 10px;
    width: 294px;
    height: 64px;
    background: #f36223;
    border-radius: 4px;
    color: rgba(243, 98, 35, 1);
}

.button:hover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 49px;
    gap: 10px;
    width: 294px;
    height: 64px;
    border-radius: 4px;
    color: rgba(243, 98, 35, 1);
    background: #DA4A0C;
}

.box-reklama {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: opx;
    gap: 10px;
    width: 420px;
    height: 642px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0
}

.box-name {
    width: 60px;
    height: 17px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    flex: none;
    order: 0px;
    flex-grow: 0;
}

.reklamas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: opx;
    gap: 15px;
    width: 420px;
    height: 615px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0
}

.reklama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1opx;
    gap: 10px;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    flex: none;
    border: 1px dashed #888888;
    align-self: stretch;
    flex-grow: 0;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 15px;
}

.characteristicproduct {
    width: 417px;
    height: 164px;
}

.boxreview-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
    width: 880px;
    height: 240px;
}

.boxreview-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
    width: 880px;
    height: 189px;
}

.reviews {
    width: 880px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 0;
}

.review-photo1 {
    width: 140px;
    height: 140px;
    background: url(review-1);
    border-radius: 100px;
}
   

.review-1 {
    width: 710px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0;

}


.review-2 {
    width: 710px;
    height: 189px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
}

.review-photo2 {
    width: 140px;
    height: 140px;
    background: url(review-2);
    border-radius: 100px;
    margin-top: 0;
    margin-bottom: 10px;
}

.namereview-1 {
    width: 76px;
    height: 24px;
    padding: 0;
    font-family: inter;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0px;
    flex-grow: 0;
    margin-top: 0;
    margin-bottom: 10px;
}


.namereview-2 {
    width: 199px;
    height: 24px;
    font-family: inter;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0px;
    flex-grow: 0;
}


.boxreiting1 {
    width: 150px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
}

.boxreiting2 {
    width: 199px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
}

.star1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    width: 150px;
    height:  30px;
    flex: none;
    order: 1px;
    align-self: stretch;
    flex-grow: 0;
}

.star2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    width: 199px;
    height:  30px;
}

.inforeiting1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 710px;
    height:  156px;
}

.inforeiting2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    width: 710px;
    height:  105px;
}

.nameinforeiting {
    width: 255px;
    height: 17px;
    font-family: inter;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}




.plusreiting {
    width: 710px;
    height: 51px;
    font-family: inter;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    flex: none;
    order: 0px;
    font-weight: 700;
}

.ul {
    list-style-image: url(./image/Маркер.png);
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 0 16px;
    margin: 15px 0 64px 0;
}

ul::before {
    color: #888888;
    width: 60px;
    height: 10px;
    padding: 0px;
    gap: 50px;
    margin-right: 10px;
}

.namecharacteristic {
    width: 417px;
    height: 198px;
}

.characteristicprodukt {
    width: 417px;
    height: 198px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
