
.logo-name {
    margin-bottom: 27px;
}

.bread {
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
    margin-top: 27px;
}


.icon {
    width: 36.5px;
    height: 43px;
    left: 51px;
    top: 18.5px;
}


.name {
    width: 263px;
    height: 53px;
    left: -3px;
    font-family: inter;
    font-style: normal;
    font-weight: 700px;
    font-size: 44px;
    line-height: 53px;
    gap: 27px;
}

.laptop {
    width: 1500px;
    margin-left: 50px;
}

.content1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 27px;

}

.content2 {
    font-weight: 700;
    font-size: 44px;
}

.smart {
    width: 179px;
    height: 19px;
    color: #008CF0;
    gap: 8px;
    padding: 4px;
}

.electronic {
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 4px;
    width: 103px;
    height: 19px;
    color: #008CF0;
    gap: 8px;
    padding: 4px;
}


.electronic {
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 4px;
    padding: 4px;
    width: 103px;
    height: 19px;
    color: #008CF0;
    gap: 4px;
    padding: 4px;
}

.electronic:hover {
    color: #f36223;
}

.mobile {
    width: 175px;
    height: 19px;
    color: #008CF0;
    gap: 4px;
    padding: 4px;
}

.apple {
    width: 44px;
    height: 19px;
    color: #008CF0;
    gap: 4px;
    padding: 4px;
}

.separator {
    width: 11px;
    height: 19px;
    color: #008CF0;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 4px;
    padding: 4px;
}


.phone1 {
    width: 304.33px;
    height: 387px;
}

.phone2 {
    width: 192.73px;
    height: 387px;
}

.iphone3 {
    width: 199.06px;
    height: 387px;
}

.phone4 {
    width: 361.5px;
    height: 387px;
}

.iphone5 {
    width: 299.22px;
    height: 387px;
}

.product-name {
    width: 539px;
    margin-top: 8px;
    color: black;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 10px;
}

.contayner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
    gap: 100px;
}

.redphone {
    width: 30.93px;
    height: 60px;
}

.alpphone {
    width: 44.45px;
    height: 60px
}

.pinkphone {
    width: 30.93px;
    height: 60px;
}

.bluephone {
    width: 30.93px;
    height: 60px;
}

.whitephone {
    width: 30.93px;
    height: 60px;
}

.blackphone {
    width: 30.93px;
    height: 60px;
}

.box-product-image {
    display: flex;
    flex-direction: none;
    align-items: center;
    padding: 0px;
    gap: 10px;
    box-sizing: border-box;

}

.box-image {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
    box-sizing: border-box;
    gap: 10px;
}

.box-image__image {
    height: 60px;
}

.colorproduct {
    width: 530px;
    height: 114px;
    margin-bottom: 30px;
}

.colorproduct__list {
    display: flex;
    gap: 10px;
}

.configur {
    width: 298px;
    height: 73px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.configur-name {
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.GB1 {
    width: 92px;
    height: 39px;
    font-family: inter;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    gap: 10px;
    border: 2px solid #f36223;
}

.GB2 {
    width: 52;
    height: 19PX;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-style: 16px;
    line-height: 19px;
    color: #000000
}

.GB3 {
    width: 52;
    height: 19PX;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-style: 16px;
    line-height: 19px;
    color: #000000;
    gap: 10px;
}

.GBs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}



.box-characteristic {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
}
.GB1 {
    width: 92px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10;
    border-radius: 4px;
    border: 2px solid #f36223
}

.GB {
    width: 94px;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #888888;
    cursor: pointer;
}

.GB1:hover {
    background: #f2f2f2;
    border: 1px solid #888888;
    border-radius: 4px;
}


.GB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10;
    width: 92px;
    height: 39px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #888888;
}

.characteristics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 880px;
    height: 896px;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 25px;
}

.text1 {
    width: 382px;
    height: 95px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.description {
    width: 880px;
    height: 421px;
    margin-bottom: 66px;
}

.description-name {
    margin-top: 30px;
    margin-bottom: 15px;
    gap: 15px;
}

.text2 {
    width: 880px;
    height: 76px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.text3 {
    width: 880px;
    height: 76px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.text4 {
    width: 880px;
    height: 95px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
    margin-top: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 420px;
    height: 957px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 132px;
}

.sidebar {
    display: flex;
    width: 420px;
    height: 957px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 40px;
    gap: 20px;
}


.importent {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    padding: 24px 20px 20px 20px;
    gap: 15px;
    background: #ffffff;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 1);
    border-radius: 20px;
    flex: none;
    order: 0;
}

.price2 {
    width: 132px;
    height: 39px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding: 0px 0 15px 0;
}

.price1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 123px;
    height: 24px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 20px;
    gap: 10px;

}

.discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 47px;
    height: 24px;
    background: #f36223;
    border-radius: 500px;
}

.delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 380px;
    height: 50px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.delivery1 {
    width: 380px;
    height: 19px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.delivery2 {
    width: 380px;
    height: 19px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 20px;
}

.button {
    width: 380px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #f36223;
    border-radius: 4px;
    color: #FFFFFF;
}

.buttonelement {
    width: 380;
    display: flex;
    justify-content: center;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-items: center;
    padding: 20px 92px 20px 92px;
}

.p {
    display: block;
    margin-block-start: 1em;
}


.box-reklama {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 420px;
    height: 642px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 0%;
}

.box-name {
    width: 60px;
    height: 17px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    flex: none;
    order: 0px;
    flex-grow: 0;
}

.reklamas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: px;
    gap: 15px;
    width: 420px;
    height: 615px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0
}

.reklama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    flex: none;
    border: 1px dashed #888888;
    align-self: stretch;
    flex-grow: 0;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 15px;
}

.characteristicprodukt {
    width: 417px;
    height: 198px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.li {
    list-style-type: disk;
    width: 10px;
    height: 10px;
}

ul::before {
    color: #888888;
    width: 60px;
    height: 10px;
    padding: 0px;
    gap: 50px;
    margin-right: 10px;
}


.namecharacteristic {
    width: 417px;
    height: 198px;
}

.ul {
    list-style-image: url(./image/Маркер.png);
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 0 16px;
    margin: 15px 0 20px 0;
}

.boxreview-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
    width: 880px;
    height: 240px;
}

.boxreview-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 20px;
    width: 710px;
    height: 189px;
}

.reviews {
    width: 880px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
    margin-top: o;
}

.review-photo1 {
    width: 140px;
    height: 140px;
    background: url(review-1);
    border-radius: 100px;
    margin-top: 0;
    margin-bottom: 10px;
    gap: 30px;
}
   

.review-1 {
    width: 710px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
}

.man1 {
    width: 76px;
    height: 24px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding: 0;
    margin-block: 0;
}


.review-2 {
    width: 710px;
    height: 189px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
}

.review-photo2 {
    width: 140px;
    height: 140px;
    background: url(review-2);
    border-radius: 100px;
    margin-top: 0;
    margin-bottom: 10px;
    gap: 30px;
}

.namereview-1 {
    width: 76px;
    height: 24px;
    padding: 0;
    font-family: inter;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0px;
    flex-grow: 0;
    margin-top: 0;
    margin-bottom: 10px;
}


.namereview-2 {
    width: 199px;
    height: 24px;
    font-family: inter;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0px;
    flex-grow: 0;
}


.boxreiting1 {
    width: 150px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
}

.boxreiting2 {
    width: 199px;
    height: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
}



.inforeiting1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 710px;
    height:  240px;
}

.inforeiting2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    width: 710px;
    height:  105px;
}

.nameinforeiting {
    width: 255px;
    height: 17px;
    font-family: inter;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}




.plusreiting {
    width: 710px;
    height: 51px;
    font-family: inter;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    flex: none;
    order: 0px;
    font-weight: 700;

}

.box-image1 {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
}

.box-image4 {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid #f36223;
}

.box-image1:hover {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 4px;
    gap: 10px;
    border: 1px solid #888888;
    background: #f2f2f2;
}


.boxreview-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 10px 10px;
    width: 880px;
    height: 240px;
}

.boxreview-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 30px;
    width: 880px;
    height: 189px;
    margin-top: 40px;
}

.reviews {
    width: 880px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-top: 66px;
}

.review-photo1 {
    width: 140px;
    height: 140px;
    background: url(review-1);
    border-radius: 100px;
}
   

.review-1 {
    width: 710px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
    margin-bottom: 20px;
}


.review-2 {
    width: 710px;
    height: 189px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    padding: 0;
    margin-bottom: 10px;
}



.namereview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 10px;
    width: 880px;
    height: 39px;
}
.reviewcount {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 0;
    width: 155px;
    height: 29px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}




.review {
    width: 98px;
    height: 29px;
    padding: 0 10px 0 0;
    font-family: inter;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #000000;
    gap: 10px;
}

.review425 {
    width: 47px;
    height: 29px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #888888;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.man2 {
    width: 199px;
    height: 24px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}

.button2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    gap: 10px;
    width: 168px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    font-size: 16px;
    color: #000000;
}



.star1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    width: 150px;
    height:  30px;
    flex: none;
    order: 1px;
    align-self: stretch;
    flex-grow: 0:
}

.star2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    width: 150px;
    height:  30px;
    flex: none;
    order: 1px;
    align-self: stretch;
    flex-grow: 0;
}


.minusreiting {
    width: 710px;
    height: 68px;
    font-family: inter;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 40px;
}
.reviewname2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 199px;
    height: 64px;
}

.reviewname1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 150px;
    height: 64px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 255px;
    height: 17px;
}







