.logo-name {
    margin-bottom: 27px;
}

.bread {
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
    margin-top: 27px;
}

.bred__item {
    color: #008CF0;
    text-decoration: none;
}

.bred__item:hover {
    color: #f36223;
}

.vector__guantity {
    position: absolute;
}

.icon {
    width: 36.5px;
    left: 51px;
    top: 18.5px;
}

.header-icon__logo {
    justify-content: space-between;
}


.header-icon__vector {
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    align-items: center;
    right: top;
    align-items: flex-end;
}

.vector {
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
    display: flex;
    align-items: center;
}


.laptop {
    width: 1400px;
    margin: 10px auto;
}

.main {
    width: 1400px;
    margin: 10px auto;
}

@media (max-widht: 1500px) {
    main {
        width: 100%;
    }
}


@media (max-widht: 1024px) {
    main {
        width: 994px;
    }
}



.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7px;
    font-family: inter;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    position: sticky;
    top: 0;
    background: #eee;
}

.header__cap {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}

.vector {
    display: flex;
    flex-direction: column;
    position: sticky;

}

.vector__guantity {

}

.header__name-market {
    color: #f52;
}

header.
nav {
    width: 1500px;
    margin: 0 auto;
}

.content1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 27px;

}

.content2 {
    font-weight: 700;
    font-size: 44px;
}

.smart {
    width: 179px;
    color: #008CF0;
    gap: 8px;
    padding: 4px;
}

.electronic {
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 4px;
    width: 103px;
    color: #008CF0;
    gap: 8px;
    padding: 4px;
}


.electronic {
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 4px;
    padding: 4px;
    width: 103px;
    color: #008CF0;
    gap: 4px;
    padding: 4px;
}


.electronic:hover {
    color: #f36223;
}


.mobile {
    width: 175px;
    color: #008CF0;
    gap: 4px;
    padding: 4px;
}

.apple {
    width: 44px;
    color: #008CF0;
    gap: 4px;
    padding: 4px;
}

.separator {
    width: 11px;
    color: #008CF0;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    gap: 4px;
    padding: 4px;
}

.product {
    margin-bottom: 30px;
}

.phone1 {
    width: 304.33px;
}

.phone2 {
    width: 192.73px;
}

.iphone3 {
    width: 199.06px;
}

.phone4 {
    width: 361.5px;
}

.iphone5 {
    width: 299.22px;
}

.product__name {
    color: black;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 30px;
}

.product-info__color__icon{
    width: 30.93px;
    height: 60px;
}

.alpphone {
    width: 44.45px;
    height: 60px
}

.pinkphone {
    width: 30.93px;
}

.bluephone {
    width: 30.93px;
}

.whitephone {
    width: 30.93px;
}

.blackphone {
    width: 30.93px;
}

.box-product-image {
    display: flex;
    flex-direction: none;
    align-items: center;
    padding: 0px;
    gap: 10px;
    box-sizing: border-box;

}

.box-product-image__element {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    gap: 10px;
}
 

.product-info__color-container {
    display: flex;
    width: 530px;
}


.product-info__color-button:hover {
    background-color: #eee;
}

.product-info__color-button {
    width: 80px;
    height: 80px;
}


.product-info {
    width: 530px;
}

.configur {
    width: 298px;
    flex: none;
    flex-grow: 0;
}

.configur-name {
    font-family: inter;
    font-style: normal;
    font-weight: 700px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
}

.product-general {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
}

.configur__content-one__selected {
    width: 92px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid #f36223;
}

.configur__content-one {
    width: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.configur__content {
    width: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    cursor: pointer;
}


.configur__GB {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 10px;
}



.product-discription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 880px;
    margin-bottom: 25px;
}

.description__text-one {
    width: 382px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.description {
    width: 880px;
}

.description__name {
    margin-bottom: 15px;
    gap: 15px;
}

.description__text-two {
    width: 880px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.description__text-third {
    width: 880px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.description__text-fourth {
    width: 880px;
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.layout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 420px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.importent__price {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

.importent-price__old-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.importent__love {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    float: right;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.sidebar {
    display: flex;
    height: 957px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 40px;
    gap: 20px;
}

.importent__button {
    display: block;
    display: none;
}


.importent {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 24px 20px 20px 20px;
    gap: 15px;
    background: #ffffff;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0, 1);
    border-radius: 20px;
    flex: none;
    order: 0;
}

.importent__price-new {
    font-family: inter;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding: 0px 0 15px 0;
}

.importent__live {
     display: flex;
     flex-direction: row;
     align-items: flex-start;
     order: 1;
     flex: none;
}


.importent-price__old {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 0;
    gap: 10px;

}

.importent__discount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 47px;
    background: #f36223;
    border-radius: 500px;
}

.delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 15px;
}

.delivery-one {
    width: 380px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.delivery-two {
    width: 380px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 20px;
}

.importent-button__basket {
    width: 380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #f36223;
    border-radius: 4px;
    color: #FFFFFF;
    width: 380;
    display: flex;
    justify-content: center;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-items: center;
    padding: 20px 92px 20px 92px;
    border-color: #eee;
}



.p {
    display: block;
    margin-block-start: 1em;
}


.block-reklama {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 420px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: 0%;
}

.block-reklama__name {
    width: 60px;
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    flex: none;
    order: 0px;
    flex-grow: 0;
}

.reklamas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: px;
    gap: 15px;
    width: 420px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0
}

.reklama {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 420px;
    height: 300px;
    background: #F0F0F0;
    flex: none;
    border: 1px dashed #888888;
    align-self: stretch;
    flex-grow: 0;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 15px;
}

.characteristic-product {
    width: 417px;
    flex: none;
    flex-grow: 0;
}

.li {
    list-style-type: disk;
    width: 10px;
}

ul::before {
    color: #888888;
    width: 60px;
    padding: 0px;
    gap: 50px;
    margin-right: 10px;
}


.characteristic-product__name {
    width: 417px;
}

.characteristic-product__ul {
    list-style-image: url(./image/Маркер.png);
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 0 16px;
}

.one {
    table-layout: fixed;
    border-collapse: collapse;
    color: #888888;
    border: 1px solid #888888;
}

.table__name {
    width: 164px;
    height: 19px;
    color: #000000;
    margin-bottom: 20px;
    font-size: 16px;
}



.table__model:hover {
    background: #f2f2f2;
    border-width: 0 1px;
    border-style: solid;
    border-color: #888888;
}

.table__model {
    width: 94px;
    height: 39px;
}

.table__massa:hover {
    background: #f2f2f2;
    border-width: 0 1px;
    border-style: solid;
    border-color: #888888;
}

.table__cup {

}


.table__massa {
    width: 112px;
    height: 39px;
}

.table__width {
    width: 86px;
    height: 39px;
}

.table__height {
    width: 86px;
    height: 39px;
}

.table__seven {
    display: none;
}

.table__line {
    border-collapse: collapse;
    display: table;
    box-sizing: border-box;
}

table__cap {
    width: 876px;
    height: 39px;
}

.table__battery {
    width: 111px;
}

.table__cell {
    height: 39px;
}

.table__chip {
    width: 135px;
}

.table__thickness {
    width: 93px;
}

.table__volume {
    width: 138px;
}

.review-content-one {
    width: 710px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.review-content-two {
    width: 710px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.review-one__photo {
    width: 140px;
    height: 140px;
    border-radius: 100px;
    margin-top: 0;
    margin-bottom: 10px;
    gap: 30px;
    margin-right: 30px;
    display: flex;
}

.review-two {
    width: 710px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
    margin-bottom: 54px;
}

.review-two__photo {
    width: 140px;
    background: url(review-2);
    border-radius: 100px;
    margin-top: 0;
    margin-bottom: 10px;
    gap: 30px;
    margin-right: 30px;
    display: flex;
}

.review-content__man1 {
    width: 76px;
    padding: 0;
    font-family: inter;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0px;
    flex-grow: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.review-content__man2 {
    padding: 0;
    font-family: inter;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0px;
    flex-grow: 0;
    margin-top: 0;
    margin-bottom: 10px;
}



.info-one {
    width: 710px;
}

.info-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    width: 710px;
}



.info-one__name {
    width: 255px;
    font-family: inter;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 10px;
}

.product-info__color-button {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
    box-sizing: border-box;
    cursor: pointer;
}

.product-info__color-container {
    display: flex;
    gap: 10px;
}

.product-info__color-button__selected {
    border: 2px solid #f52;
    border-radius: 4px;
}

.box-image2 {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
}


.product-info__color-button:hover {
    background-color: #eee;
}

.box-image5 {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
}

.box-image6 {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
}

.box-image4 {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    border-radius: 4px;
    border: 2px solid #f36223;
}

.box-image1:hover {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 4px;
    gap: 10px;
    border: 1px solid #888888;
    background: #f2f2f2;
}


.review-one {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 10px 10px;
    width: 880px;
}


.reviews {
    width: 880px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.review__cap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 10px;
    width: 880px;
}


.review__count {
    width: 99px;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    display: flex;
    gap: 10px;
}

.review__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
}

.review425 {
    width: 47px;
    font-family: inter;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #888888;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.review__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
    gap: 10px;
    width: 168px;
    height: 39px;
    border: 1px solid #888888;
    border-radius: 4px;
    font-size: 16px;
    color: #000000;
}



.review-content__star5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    width: 150px;
    flex: none;
    order: 1px;
    align-self: stretch;
    flex-grow: 0;
}



.star2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0px;
    width: 150px;
    flex: none;
    order: 1px;
    align-self: stretch;
    flex-grow: 0;
}


.minusreiting {
    width: 710px;
    font-family: inter;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}

.minusreiting__name {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}

.info-one__reiting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 255px;
}

.info-two__reiting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;
    width: 710px;
    margin: 0;
}


.info-two__name {
    margin-bottom: 0;
    margin-top: 20px;
}


.plusreiting__name {
    margin-top: 10px;
    margin-bottom: 10px;   
}


.review-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 15px;
    margin-bottom: 30px;
}


.review-section__cap {
    width: 174px;
    font-size: 16px;
    line-height: 19px;
}


.text-one {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 594px;
}

.text-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
    width: 175px;
    border: 1px solid #888888;
}

.review__comment {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 40px;
    width: 590px;
    margin-top: 30px
;
}

.footer-form__button {
    display: flex;
    align-items: center;
    width: 177px;
    background: #f36223;
    border-radius: 4px;
}

.review-section__one {
    width: 379px;
    height: 49px;
    margin-bottom: 0;
    border: 1px solid #888888;
    margin-right: 40px;
}

.review-section__two {
    border: 1px solid #888888;
    width: 175px;
    height: 49px;
}

.line-one {
    gap: 40px;
}
 
.line-two {
    width: 594px;
}


.review-section__form {
    margin: 0;
    border: #eee;
    padding: 0;
    gap: 30px;
}


.footer-form__content {
    width: 137px;
    height: 19px;
    color: #FFFFFF;
}

.name {
    background: #008CF0;

}

.signup-submit-button {
    background: #f36223;
    color: #eee;
    width: 177px;
    border-radius: 4px;
    height: 39px ;
    margin-bottom: 80px;
}

.third-line {

}


.review-form {
    padding: 0;
    margin: 0;
    border-radius: 1px;
}


.footer {
    flex: none;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-name {
    color: red;
}

.copy__nav-up {
    color: #008CF0;
    width: 58px;
}

.footer__nav-up {
    align-items: flex-start;
    justify-content: center;
    order: 1;
    color: #008CF0;
    text-decoration: none;
}

.footer__copy {
    width: 558px;
    gap: 10px;
    padding: 0 15px;
}

.footer__mail {
    margin: 0;
}

.footer__tel {
    gap: 50px;
}

.footer__content-two {
    margin-top: 0;
}
