
.body {
    max-width: 1500px;
    font-size: 18px;
    margin: auto;
}

.p {
    padding: 16px;
}


.a {
    color: #018ad2;
    text-decoration:none;
}

.a:hover {
    color:#f70808;
    text-decoration:none;
}

.input {
    padding: 0;
}

.button {
    padding: 8px 12px;
}

.iframe {
    display: inline-block;
    border: 1px dashed #ccc;
    text-align: center;
}

.review {
    display: flex;
    gap: 16px;
    /* обтекание слева*/
}

.list {
    padding-left: 20px;
}








